@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<link rel="stylesheet" href="~/Yeni/template/assets/vendors/jvectormap/jquery-jvectormap.css">
<link rel="stylesheet" href="~/Yeni/template/assets/vendors/flag-icon-css/css/flag-icon.min.css">
<link rel="stylesheet" href="~/Yeni/template/assets/vendors/owl-carousel-2/owl.carousel.min.css">
<link rel="stylesheet" href="~/Yeni/template/assets/vendors/owl-carousel-2/owl.theme.default.min.css">
@*
@await Component.InvokeAsync("FeatureStatistic")
<div class="row">
    <div class="col-md-4 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Bütçe Geçmişi</h4>
                <canvas id="transaction-history" class="transaction-chart"></canvas>
                <div class="bg-gray-dark d-flex d-md-block d-xl-flex flex-row py-3 px-4 px-md-3 px-xl-4 rounded mt-3">
                    <div class="text-md-center text-xl-left">
                        <h6 class="mb-1">Proje Ödemeleri</h6>
                        <p class="text-muted mb-0">26 Şubat 2023, 09:03</p>
                    </div>
                    <div class="align-self-center flex-grow text-right text-md-center text-xl-right py-md-2 py-xl-0">
                        <h6 class="font-weight-bold mb-0">$1.250</h6>
                    </div>
                </div>
                <div class="bg-gray-dark d-flex d-md-block d-xl-flex flex-row py-3 px-4 px-md-3 px-xl-4 rounded mt-3">
                    <div class="text-md-center text-xl-left">
                        <h6 class="mb-1">Reklam Geliri</h6>
                        <p class="text-muted mb-0">27 Şubat 2023, 11:24</p>
                    </div>
                    <div class="align-self-center flex-grow text-right text-md-center text-xl-right py-md-2 py-xl-0">
                        <h6 class="font-weight-bold mb-0">$1.020</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @await Component.InvokeAsync("Last5Projects")
</div>*@
@await Component.InvokeAsync("DashboardStatistic2")
@await Component.InvokeAsync("ProjectList")
<div class="row">
    <div class="col-md-6 col-xl-4 grid-margin stretch-card">
        @await Component.InvokeAsync("MessageList")
    </div>
    <div class="col-md-6 col-xl-4 grid-margin stretch-card">
        @await Component.InvokeAsync("SlideList")
    </div>
    <div class="col-md-12 col-xl-4 grid-margin stretch-card">
        @await Component.InvokeAsync("ToDoListPanel")
    </div>
</div>
<div class="row">
    @await Component.InvokeAsync("VisitorMap")
</div>

<!-- End plugin js for this page -->
<!-- inject:js -->

